<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Platform.MaterialComponents.Light"
        tools:targetApi="31">
        <activity
            android:name=".ActivityController.ChatActivity"
            android:parentActivityName=".ActivityController.ViewProductActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.AddPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.BillActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.CartActivity"
            android:exported="false"
            android:parentActivityName=".ActivityController.ViewProductActivity" />
        <activity
            android:name=".ActivityController.ViewProductActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.ViewBillDetailActivity"
            android:exported="false"
            android:parentActivityName=".ActivityController.BillActivity" />
        <activity
            android:name=".ActivityController.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityController.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ActivityController.ViewProductActivity" />
        <activity
            android:name=".ActivityController.MapsActivity"
            android:exported="false"
            android:parentActivityName=".ActivityController.ViewProductActivity" />
        <activity
            android:name=".ActivityController.ViewDetailProductActivity"
            android:exported="true"
            android:parentActivityName=".ActivityController.ViewProductActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTnVQCIfg6cuN64li_ixCqWahDtXptRew" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>